.next
node_modules
out
dist
.env.local
.env.production
.netlify
.next-start*.log
.preview-start*.log
dev.log
preview-*.png
generated-contact-sheet.png
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
